<!-- <app-navigation-bar class="w-100"></app-navigation-bar> -->
<div class="d-flex start">
    <button class="btn btn-primary" (click)="changeLanguage('es')">Español</button>
    <button class="ml-1 btn btn-primary" (click)="changeLanguage('en')">Inglés</button>
</div>

<router-outlet></router-outlet>

<h1 class="header-title text-align-center pb-1">{{ 'ERROR_HANDLING_HEADER' | translate }}</h1>
<div class="d-flex start">
    <button class="ml-1 btn btn-outline" (click)="doHandleError(errorType)">{{ 'COMMON_ERROR' | translate }}</button>
    <button class="ml-1 btn btn-outline" (click)="doHandleError(warningType)">{{ 'COMMON_WARNING' | translate }}</button>
    <button class="ml-1 btn btn-outline" (click)="doHandleError(successType)">{{ 'COMMON_SUCCESS' | translate }}</button>
</div>