$main_dark: rgb(44, 44, 44);
$main_white: rgba(255, 255, 255, 1);
$orange: rgb(243, 207, 46);
$light_orange: rgba(255, 231, 126, 0.8);
$light_gray: rgb(60, 60, 60);
$main_dark_bg: rgb(44, 44, 44, 0.6);
$main_black: rgba(0, 0, 0, 1);
